# 環境設定ファイル
.env

# Mac OS のシステムファイル
.DS_Store

# 開発ツールの設定
.vscode/

# データディレクトリ
data/

# Dev関連
Dev/
requirements-dev.txt

# キャッシュファイル
__pycache__/
.ruff_cache/
cache/

# 仮想環境
.venv/

# Config ファイル
spam_blocker.json
sudo.json

# ログファイル
*.log

# テストファイル

cache/
