# 環境設定ファイル
/.env

# Mac OS のシステムファイル
.DS_Store

# 開発ツールの設定
.vscode/

# データディレクトリ
data/

# Dev関連
Dev/
requirements-dev.txt

# Pythonのバイトコード
__pycache__/

# 仮想環境
iphone3g/

# Config ファイル
bot.json
spam_blocker.json
sudo.json
auth.json