aiohttp==3.11.6
discord.py==2.4.0
Pillow==11.0.0
psutil==6.1.0
python-dotenv>=0.21.0
pytz==2024.2
dateparser==1.2.0
datetime==5.5
openai==1.54.5
jishaku==2.6.0
pyfiglet==1.0.2
flask==3.1.0
httpx==0.27.2
requests==2.32.3
discord-ext-prometheus==0.2.0
pyyaml==6.0.2
annotated-types==0.7.0
pydantic>=1.9.0,<2.0.0
Pygments==2.18.0
ruff==0.8.1
jisho_api==0.1.8